body{
    height: 100px;
    background: linear-gradient(to left, black, white, black);
}

h2{
    text-align: center;
    padding-left: 50px;
    font-size: 40px;
}

.container{
    display: flex;
    text-align: center;    
}

.container .foto{
    margin-top: 200px;
    padding-left: 20px;
    display: flex;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    background-color: #444;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #555;
}